.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #ee4d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    margin: 4px 0 0 0;
}

.header__navbar-item,
.header__navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 200;
}

.header__navbar-item:hover,
.header__navbar-link:hover {
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}

.header__navbar-item {
    min-height: 26px;
    margin-left: 8px;
    margin-right: 8px;
    /* padding-bottom: 10px; */
    position: relative;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item,
.header__navbar-link,
.header__navbar-icon--link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon--link {
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    display: none;
    position: absolute;
    left: -12px;
    top: 100%;
    width: 180px;
    margin-top: 1rem;
    padding: 12px 8px 8px;
    border-radius: 2px;
    background-color: var(--white-color);
    animation: faceIn ease-in .5s;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    display: block;
}

.header__qr--img {
    width: 100%;
}

.header__qr--apps {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

.header__qr--dwApp {
    height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: unset;
}

.header__notify-enable:hover .header__notify {
    display: unset;
}

.header__notify {
    z-index: 1;
    display: none;
    position: absolute;
    cursor: default;
    top: 100%;
    right: 0;
    width: 400px;
    margin-top: 1rem;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 30px) top;
    animation: headerNotifyGrowth ease-out .2s;
    will-change: opacity, tranform;
}

.header__notify::after {
    content: '';
    position: absolute;
    top: -36px;
    right: 12px;
    border: 24px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

@keyframes headerNotifyGrowth {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}


.header__notify-item {
    background-color: rgba(255, 81, 28, 0.01);
}

.header__notify-item--viewed {
    background-color: rgba(255, 81, 28, .1);
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    display: flex;
    padding: 12px;
}

.header__notify-img {
    width: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
    color: #999;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);

}

.header__notify-disc {
    display: block;
    font-size: 12px;
    color: #756f6e;
    padding: 1rem 0;
}

.header__notify-footer {
    text-align: center;
    padding: 16px;
}

.header__notify-footer--btn {
    color: #756f6e;
    font-size: 1.6rem;
    font-weight: 400;
}

.auth-form {
    width: 500px;
    font-size: 16px;
    border-radius: 4px;
    overflow: hidden;
}


.auth-form__header {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__title {
    font-size: 24px;
    font-weight: 400;
    padding: 4px 0;
    color: var(--text-color);
    cursor: default;
    user-select: none;
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 400;
    color: var(--primary-color);

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 1.6rem;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    outline: none !important;
}

.auth-form__input:focus {
    border-color: #fb9086;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-text a {
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth-form__footer {
    margin-top: 16px;
    background-color: #f6f6f6;
    padding: 16px 32px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials-facebook {
    background-color: #3a5a98;
    color: var(--white-color);

}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-text {
    color: #999;
    font-size: 1.4rem;
}

.auth-form__help-separate {
    display: block;
    height: 16px;
    margin: 14px 0 0 0;
    border-left: 1px solid #aaa;
}

.header-container {
    display: flex;
    margin: 0 8px;
    height: var(--header-container-height);
    align-items: center;
}

.header-logo {
    width: 200px;
}

.header-logo-img {
    width: 150px;
}

.header-search {
    flex: 1;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.header-cart {
    position: relative;
    width: 150px;
    text-align: center;
}

.header-cart-logo {
    color: var(--white-color);
    font-size: 2rem;
    margin-top: 8px;
}

.header-input {
    flex: 1;
    position: relative;
}

.header-input-search:focus~.header-search-history {
    display: block;
}

.header-input-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin: 0 0 0 16px;
    color: var(--black-color);
}

.input-select {
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #e8e8e8;
    position: relative;
}

.input-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.input-select-icon {
    position: relative;
    top: 2px;
    margin: 0 16px;
    font-size: 1.4rem;
    color: #4a4a4a;
    font-weight: 300;
}

.input-search-btn {
    background-color: var(--primary-color);
    height: 36px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-right: 4px;
}

.input-search-btn:hover {
    background-color: #fb6445;
}

.input-btn {
    font-size: 1.6em;
    color: var(--white-color)
}

.input-search-option {
    position: absolute;
    right: 4px;
    top: 100%;
    margin: 2px auto 0;
    width: calc(100% - 4px);
    display: none;
    flex-direction: column;
    list-style: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    animation: faceIn ease-in 0.3s;
}

.input-select::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: 100%;
    left: 0;
}

.input-select:hover .input-search-option {
    display: flex;
}

.input-search-option-item {
    background: var(--white-color);
    width: 100%;
    text-align: center;
    padding: 8px 4px;
}

.input-search-option-item:hover {
    background-color: rgb(244, 244, 244);
}

.input-search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.input-search-option-item i {
    padding-left: 12px;
    font-size: 1rem;
    color: var(--primary-color);
}

.header-search-history {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 12px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.search-history-heading {
    margin: 4px;
    padding: 2px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.search-history-list {
    margin-top: 0;
    list-style: none !important;
}

.search-history-item {
    font-size: 1.4rem;
}

.search-history-item:hover {
    background-color: rgba(0, 0, 0, .04);
}

.search-history-item a {
    width: 100%;
    /* height: 32px; */
    line-height: 32px;
    padding: 4px 12px;
    display: inline-block;
    color: var(--text-color);
}

.header-cart-list {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 400px;
    background-color: var(--white-color);
}

.header-cart-list img {
    width: 200px;
}